<a href="https://colab.research.google.com/github/dil150898/Book-Recommendation-System--Capstone-Project/blob/main/Dil_khush_Book_Recommendation_System_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -  **Book Recommendation System**

##### **Project Type**    - Unsupervised
##### **Contribution**    - Team
##### **Team Member 1 -**Vaibhav Kumar Gupta
##### **Team Member 2 -**Bhavik Verma
##### **Team Member 3 -**Priyanka Pal
##### **Team Member 4 -**Dil Khush Sharma
##### **Team Member 5 -**Shayan Somanna

# **Project Summary -**

* This project is all about recomendation system.In this project we have tried to use some approches for recomending the books to the readers or users .We have used various ways such as collaborative Filtering and Content based Filtering for recomendation of the books to the users .

**ABOUT THE DATASET :** We have three diffrent datsets namely book.csv which contains information about the books such as book-author , publisher , book title , year of publication, image links and unique Book ID i.e ISBN Number .Then we have ratings.csv which contain information about ratings given by the users for the books, it contains user ID ,ISBN number and book rating (scale between 1-10). Then we have users.csv which contain information about users such as their location , age and their user ID 

**EDA :** For the EDA part we have analysed about the top Books rated by the users , top authors who got most ratings , top authors on the basis of number of books , Top publishers who have published maximum number of books, we have analysed the users age and lastly we have analysed their ratings we got that most of the users have rated 8.

**Recomendation Approaches :**

*  Collaborative Filtering

   In Collaborative Filtering we make predictions of the taste or the intrests of the user based based on the other similar users behaviour (which is called collaborative) .The simple understanding is that if a person P1 have similar opinion with person P2 , then if person P1 is reading Harry Potter books then person P2 may also read Harry Potter books

   Collaborative Filtering has mainly two implimentaion strategies
   *   Model Based
   *   Memory Based

We have used the following approaches

   Memory based
   *  User_based Collaborative Filtering 

      *In this technique we try to predict on basis of what user may like based on the ratings that they had given to the items. In simpe words here we try to indentify the neghbouring users on the basis of similarity of active users and then scoring of the items  is calculated on the basis of those neighbour users* 
   *  Item_based Collaborative Filtering

      *In Item based collaborative filtering we try to find similar items based on the items whichs user has liked or interacted with .It suggests an item based on items the user has previously consumed. It looks for the items the user has consumed then it finds other items similar to consumed items and recommends accordingly*


   Model based Collaborative Filtering Approach
   * Singular value decomposition(SVD)

     *It is a popular method in field of Data Science and Machine Learning .It is a classical method from the Linear Algebra concept. It is popular beacuse of its properties and its use in Recomendation System. We can use this in recomending Books, movies etc.*

     *SVD is a method from linear algebra that has been generally used as a dimensionality reduction technique in ML problems. It is amtrix Factorisation technique which tries to reduce the number of feature or attributes by reducing the sapce dimension from N dimension to I dimension.SVD is used as a collaborative filtering technique in recomendation technique domain. It consist of a matrix structure where the rows define the users and columns defines the item.*


  * Non-Negetive Matrix Factorisation(NMF): 
  
    *Our goal in NMF is to approximate the users-item V matrix by the dot product of two arrays W and H. Dimensions of the arrays are defined by dimensions of V and number of components we set to the algorithm. If V has n rows and m columns and we want to decompose it to k components, then W has n rows, and k columns and H has k rows and m columns.This is actually matrix factorization part of the algorithm. The Non-negative part refers to V, W, and H — all the values have to be equal or greater than zero, i.e., non-negative*
   


**Content based Filtering :**
  
   It is type of recomendation system which depends upon the data which we get from the customers , based on the data a user profile is generated

# **GitHub Link -**

https://github.com/dil150898/Book-Recommendation-System--Capstone-Project

# **Problem Statement**

### During the last few decades, with the rise of Youtube, Amazon, Netflix, and many other such web services, recommender systems have taken more and more place in our lives. From e-commerce (suggest to buyers articles that could interest them) to online advertisement (suggest to users the right contents, matching their preferences), recommender systems are today unavoidable in our daily online journeys.

### In a very general way, recommender systems are algorithms aimed at suggesting relevant items to users (items being movies to watch, text to read, products to buy, or anything else depending on industries). Recommender systems are really critical in some industries as they can generate a huge amount of income when they are efficient or also be a way to stand out significantly from competitors. The main objective is to create a book recommendation system for users.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

For implimentation of SVD and NMF techniques we require Surprise library

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

For implimentation of SVD and NMF techniques we require Surprise library

In [ ]:
pip install surprise

In [ ]:
# Import Libraries
# for dealing with regular expression techniques
import re
import requests
import random
#for NLP related tasks
from sklearn.feature_extraction.text import CountVectorizer
import nltk

# basic libraries
import pandas as pd
import numpy as np


import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
#for TF-IDF vectorization
from sklearn.feature_extraction.text import TfidfVectorizer
# for finding similarity
from sklearn.metrics.pairwise import cosine_similarity

import scipy
import math
import sklearn
#for removing stopwords
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
#for SVD model
from scipy.sparse.linalg import svds
# for plotting graphs
import matplotlib.pyplot as plt

from surprise import Dataset, Reader
from surprise import SVD, NMF
from surprise.model_selection import cross_validate, train_test_split, GridSearchCV

### Dataset Loading

In [ ]:
# Load Dataset
# Import Google Drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Load Dataset Vaibhav
path_book='/content/drive/MyDrive/Almabetter/Capstone Project/Unsupervised Machine Learning/Book Recommendation System/Book Recommendation System/Dil khush Sharma/data_book_recommendation/Books.csv'
df_books=pd.read_csv(path_book)

path_rating='/content/drive/MyDrive/Almabetter/Capstone Project/Unsupervised Machine Learning/Book Recommendation System/Book Recommendation System/Dil khush Sharma/data_book_recommendation/Ratings.csv'
df_ratings=pd.read_csv(path_rating)

path_users='/content/drive/MyDrive/Almabetter/Capstone Project/Unsupervised Machine Learning/Book Recommendation System/Book Recommendation System/Dil khush Sharma/data_book_recommendation/Users.csv'
df_users=pd.read_csv(path_users)

### Dataset First View

In [ ]:
# Dataset First Look
df_books.head(3)

In [ ]:
df_ratings.head(3)

In [ ]:
df_users.head(3)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count

print(f"Books has {df_books.shape[0]} rows and {df_books.shape[1]} columns " )
print(f"Rating has {df_ratings.shape[0]} rows and {df_ratings.shape[1]} columns " )
print(f"Users has {df_users.shape[0]} rows and {df_users.shape[1]} columns " )

*  books have 271360 rows and 8 columns
*  ratings has 1149780 rows and 3 columns
*  Users has 278858 rows and 3 columns

### Dataset Information

In [ ]:
# Dataset Info
df_books.info()

In [ ]:
df_ratings.info()

In [ ]:
df_users.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
# Missing Values/Null Values Count
print("Duplicate Values in BOOKS" ,len(df_books[df_books.duplicated()]))
print("Duplicate Values in RATINGS ",len(df_ratings[df_ratings.duplicated()]))
print("Duplicate Values in USERS",len(df_users[df_users.duplicated()]))

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
print("NULL Values in BOOKS" ,df_books.isnull().sum())
print("NULL Values in RATINGS ",df_ratings.isnull().sum())
print("NULL Values in USERS",df_users.isnull().sum())

In [ ]:
# Visualizing the missing values
plt.figure(figsize=(10,6))
sns.displot(
    data=df_books.isnull().melt(value_name="missing"),
    y="variable",
    hue="missing",
    multiple="fill",
    aspect=1.25
)

Since the missing values are very less as compared to total number of instances ,therefore we are not able visualie the missing values . The number of missing values are 1,2 and 3 and total insatnces is 271360 so the proportion is 0.000011 hence it is negligible

In [ ]:
# Visualizing the missing values
plt.figure(figsize=(10,6))
sns.displot(
    data=df_users.isnull().melt(value_name="missing"),
    y="variable",
    hue="missing",
    multiple="fill",
    aspect=1.25
)

* For the users data we have about 0.4 proportion values of the Age column which is missing.

### What did you know about your dataset?

*  There 271360 rows and 8 columns in Books Dataset 

*  There are  1149780 rows and 3 columns in Rating Dataset

*  There are 278858 rows and 3 columns in Users Dataset

*  There are no duplicate values in any of the dataset for Books ,Ratings and Users

* There are very few (0.0011%) values which are missing for the columns Book_author , Publisher and Image_URL-L

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df_books.columns

In [ ]:
df_ratings.columns

In [ ]:
df_users.columns

In [ ]:
# Dataset Describe
df_books.describe()

In [ ]:
df_ratings.describe()

In [ ]:
df_users.describe()

### Variables Description

*  Books are identified by their respective **ISBN**. Moreover, some content-based information is given (**Book-Title, Book-Author, Year-Of-Publication, Publisher**) are obtained from Amazon Web Services. 

*  URLs linking to cover images are also given,It has basicaly three flovors of images (**Image-URL-S, Image-URL-M, Image-URL-L**), i.e., small, medium, large. These URLs point to the Amazon web site.

*  Users variables
   *  The average age of the users of books reader is 34-35 
*  Ratings variables
   *  The average rating given by the user is 2.8669 out of 10
   *  Range of rating is 0-10

*  Books variables
   *  There are total 102023 unique Authors listed in this dataset
   *  Top publisher which has largest number of books listed in this dataset is Harlequin
   *  There are 16807 unique publishers listed in this Dataset

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df_books.nunique()

In [ ]:
df_ratings.nunique()

In [ ]:
df_users.nunique()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
# first we have to merge the datsets 
df_books_rating=df_books.merge(df_ratings,on="ISBN")
df_books_rating.head(3)

*  **Checking the percentage of books which have  0 rating**

In [ ]:
print(f'there are {(len(df_books_rating[df_books_rating["Book-Rating"]==0])/len(df_books_rating))*100} of the books which have 0 rating' )

*  **Droping some unnecessary columns and data**

In [ ]:
df_books_rating_copy=df_books_rating.copy()
# removing null values
df_books_rating_copy.dropna(inplace=True)
df_books_rating_copy.reset_index(drop=True,inplace=True)


# as the columns ISBN has no use for the analysis also Year-Of-publication
# we can also remove the medium and small scale of a image link i.e Image-URL-S and Image-URL-M
df_books_rating_copy.drop(columns=["ISBN","Year-Of-Publication","Image-URL-S","Image-URL-M"],axis=1,inplace=True)

# we can also drop the book details where the ratings is 0 as it is not a valid rating
df_books_rating_copy.drop(index=df_books_rating_copy[df_books_rating_copy["Book-Rating"]==0].index,inplace=True)

df_books_rating_copy["Book-Title"]=df_books_rating_copy["Book-Title"].apply(lambda x: re.sub("[\W_]+"," ",x).strip())
df_books_rating_copy.head()

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

### **Top 20 author with number of books**

In [ ]:

# Chart - 1 visualization code
plt.figure(figsize=(12,6))
sns.countplot(y="Book-Author",palette = 'Paired', data=df_books,order=df_books['Book-Author'].value_counts().index[0:20])
plt.title("Top 20 author with number of books")

##### 1. Why did you pick the specific chart?

*  To get the top 20 Author with number of Books

##### 2. What is/are the insight(s) found from the chart?

* Based on this dataset Agatha Christie released maximums books .Followed by William Shakespeare and Stephen King are 2nd and 3rd most Authors who have relased maximum books.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
# plotting the rating column distribusion
plt.figure(figsize=(12,8))
sns.countplot(x="Book-Rating", data=df_ratings)
plt.title("Ratings")

##### 1. Why did you pick the specific chart?

* To study the distribustion of Rating

##### 2. What is/are the insight(s) found from the chart?

*  Most of the books have 0 rating . As might be most of the books were not read , or not recorded its ratings . So during the time of dataset preparation they might have explicitly filled with zeros


* If we ignore this 0 ratings then 8 is the most common rating given by users out of 10

#### Chart - 3

### **Top 10 Books with highest nuumber of ratings**

In [ ]:
# Chart - 3 visualization code
valid_rating=df_ratings[df_ratings['Book-Rating'] != 0]
top10_ratings=valid_rating.groupby('ISBN')['Book-Rating'].count().sort_values(ascending=False).head(10)
top10_ratings

#### Chart - 4

### **Users Age distribution**

In [ ]:
# Chart - 4 visualization code
# Checking data distribution from distplot
sns.distplot(df_users.Age)
plt.title('Age Distribution Plot')

##### 1. Why did you pick the specific chart?

* To study the distriution of Age

##### 2. What is/are the insight(s) found from the chart?

* Age is postively skewed it may contain outliers also we have some age as 0 , which might be explicity filled for the users who hadn't reported their age

#### Chart - 5

### **Checking Outliers for the Users Age column**

In [ ]:
# Chart - 5 visualization code
fig = plt.figure(figsize=(6,4))
sns.boxplot(x='Age',data=df_users)

##### 1. Why did you pick the specific chart?

* To check the outliers in the age column

##### 2. What is/are the insight(s) found from the chart?

* We can notice that there are some outliers for age column

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
plt.figure(figsize=(12,6))
sns.countplot(y="Book-Author",palette = 'Paired', data=df_books_rating_copy,order=df_books_rating_copy['Book-Author'].value_counts().index[0:20])
plt.title("Top 20 author with maximum number of rating")

##### 1. Why did you pick the specific chart?

* To study the Authors who got highest number of votes or ratings

##### 2. What is/are the insight(s) found from the chart?

* As per this dataset Stephen King is the Author who got maximum number of ratings by the users

#### Chart - 7

### **Top 10 books which got highest numbers of rating**

In [ ]:
# Chart - 7 visualization code
df_books_rating_copy.groupby(['Book-Title'])['Book-Rating'].count().sort_values(ascending=False).head(10).plot(kind='bar')

##### 1. Why did you pick the specific chart?

* To study the highest rated Books

##### 2. What is/are the insight(s) found from the chart?

* Top-10 most rated books were essentially novels. Books like The Lovely Bone and Wild Animus were very famous

#### Chart - 8

### **Top 10 publishers with maximum number of ratings**

In [ ]:
df_books.columns

In [ ]:
# Chart - 8 visualization code
plt.figure(figsize=(12,6))
sns.countplot(y='Publisher',palette = 'Paired', data=df_books,order=df_books['Publisher'].value_counts().index[0:10])
plt.title("Top 10 'Publisher' with maximum number of rating")

##### 1. Why did you pick the specific chart?

* To study the Publishers who have got most ratings

##### 2. What is/are the insight(s) found from the chart?

* Most of the books were  pulblised by Hariequin, Silhouette and Pocket

### 1. Handling Missing Values

In [ ]:
# Handling Missing Values & Missing Value Imputation
# filling null values of the age column of users data
# as age contains outliers so we can use median
df_users["Age"].fillna(df_users.Age.median(),inplace=True)

In [ ]:
# checking the unique values of year of publication
df_books['Year-Of-Publication'].unique()

* There are values such as 'DK Publishing Inc' and 'Gallimard' which are in text form 

* There are values such as 0 for the year-of-publication column

In [ ]:
# checking the data where the 'Year-Of-Publication' is 'DK Publishing Inc'
df_books.loc[df_books['Year-Of-Publication'] == 'DK Publishing Inc',:]

* We can notice that the Book-Author ,Year-of-Publication , Book-Author and Publisher columns are exchanged with each others and publication column contain image links

* we need to find the Book-Author on our own for the book DK Readers: Creating the X-Men, How It All Beg.. and DK Readers: Creating the X-Men, How Comic Book..

In [ ]:
#Fixing the wrongly inputed values 
#ISBN '0789466953'
df_books.loc[df_books.ISBN == '0789466953','Year-Of-Publication'] = 2000
df_books.loc[df_books.ISBN == '0789466953','Book-Author'] = "James Buckley" # this we gathered from the google 
df_books.loc[df_books.ISBN == '0789466953','Publisher'] = "DK Publishing Inc"
df_books.loc[df_books.ISBN == '0789466953','Book-Title'] = "DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)"

#ISBN '078946697X'
df_books.loc[df_books.ISBN == '078946697X','Year-Of-Publication'] = 2000
df_books.loc[df_books.ISBN == '078946697X','Book-Author'] = "Michael Teitelbaum" # this we gathered from the google
df_books.loc[df_books.ISBN == '078946697X','Publisher'] = "DK Publishing Inc"
df_books.loc[df_books.ISBN == '078946697X','Book-Title'] = "DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)"

In [ ]:
# checking for the Gallimard
df_books.loc[df_books['Year-Of-Publication'] == 'Gallimard',:]

* Here also we can see that Book-Author, year-of-publication and publishers values are interchnaged and publishers actual name is missing

In [ ]:
df_books.loc[df_books.ISBN == '2070426769','Year-Of-Publication'] = 2003
df_books.loc[df_books.ISBN == '2070426769','Book-Author'] = "Jean-Marie Gustave Le ClÃ?Â©zio"
df_books.loc[df_books.ISBN == '2070426769','Publisher'] = "Gallimard"
df_books.loc[df_books.ISBN == '2070426769','Book-Title'] = "Peuple du ciel, suivi de 'Les Bergers"

In [ ]:
# Rechecking the correction made
df_books['Year-Of-Publication'].unique()

In [ ]:
df_books['Year-Of-Publication'] = df_books['Year-Of-Publication'].astype(int)
# Replacing invalid values such as year greateer than 2022 and year having 0 with the NaN
# so that we can fill those null values with proper measure of centreal tendency

df_books.loc[(df_books['Year-Of-Publication'] > 2022) | (df_books['Year-Of-Publication'] == 0),'Year-Of-Publication'] = np.NAN

# filling the null values with median values as there are outliers in year-of-publication column
df_books['Year-Of-Publication'].fillna(round(df_books['Year-Of-Publication'].median()),inplace=True)

In [ ]:
# filling null values for the column Book-Author and Publisher
# as we have only very few null values  1 and 2 only so we acn fill those values with other 
df_books["Book-Author"].fillna("other", inplace = True)  
df_books["Publisher"].fillna("other", inplace = True)

#### What all missing value imputation techniques have you used and why did you use those techniques?

* Filling the values with median when the column contain outilers

### 2. Handling Outliers

In [ ]:
# Handling Outliers & Outlier treatments
Q3,Q1 = np.percentile(df_users['Age'],[75,25])
#Calculating Inter Quartile Range
IQR = Q3-Q1
#Fixing Boundaries for outliers
max = Q3+(1.5*IQR)
min = Q1-(1.5*IQR)
df_users["Age"] = np.where(df_users["Age"] > max, max, df_users['Age'])
df_users["Age"] = np.where(df_users["Age"] < min, min, df_users['Age'])

In [ ]:
# chceking the outliers again
fig = plt.figure(figsize=(6,4))
sns.boxplot(x='Age',data=df_users)

* We can notice that the Outliers has been handeled smoothly and now we dont have any outliers

##### What all outlier treatment techniques have you used and why did you use those techniques?

* We used IQR method to fill the right side otliers with maximum value calculated from IQR and Left side outliers with the minimum value calculated from IQR

## **Popularity Based Approach**

* The main idea behind Popularity Based Approach is to recomend the books which are popular , the popularity can be calculated on the basis of ratings

In [ ]:
def popularity_approach(df,number_of_top_book=50):
    # first we have groupy with Book-Ttle and Book-rating as we wou recomend popularity on the these columns  
    rating_counts=df.groupby("Book-Title").count()["Book-Rating"].reset_index()
    # counting the number of ratings that particular book-title has got
    rating_counts.rename(columns={"Book-Rating":"num_of_ratings"},inplace=True)
    
    # calculating average rating
    rating_avg=df.groupby("Book-Title")["Book-Rating"].mean().reset_index()
    rating_avg.rename(columns={"Book-Rating":"average_rating"},inplace=True)
    
    df_popular_books=rating_counts.merge(rating_avg,on="Book-Title")

    # average rating can be misguiding as they may be baised to number of ratings
    # so taking account of number of ratings for particular book-title
    # therefore  creating a function for calculating meaningfull average rating
    mean_avg_rating=df_popular_books["average_rating"].mean()
    total_ratings=df_popular_books["num_of_ratings"].quantile(0.90)
    def weighted_rate(df):
        number_of_rating_vector=df["num_of_ratings"]
        average_rating_vector=df["average_rating"]
        
        return ((number_of_rating_vector*average_rating_vector) + (total_ratings*mean_avg_rating)) / (number_of_rating_vector+total_ratings)
    
    
    # checking only for books which got more than 
    df_popular_books=df_popular_books[df_popular_books["num_of_ratings"] >=100]
    # calculating popularity of books using weighted_rate
    df_popular_books["popularity"]=df_popular_books.apply(weighted_rate,axis=1)
    # sorting the books by its popularity in decending order
    df_popular_books=df_popular_books.sort_values(by="popularity",ascending=False)
    # returning the top n books 
    return df_popular_books[["Book-Title","num_of_ratings","average_rating","popularity"]].reset_index(drop=True).head(number_of_top_book)

In [ ]:
# top 20 popular books
top_20=pd.DataFrame(popularity_approach(df_books_rating_copy,20))
top_20

## **Collaborative Filtering Approaches**

In Collaborative Filtering we make predictions of the taste or the intrests of the user based based on the other similar users behaviour (which is called collaborative) .The simple understanding is that if a person P1 have similar opinion with person P2 , then if person P1 is reading Harry Potter books then person P2 may also read Harry Potter books

Collaborative Filtering has mainly two implimentaion strategies
*   Model Based
*   Memory Based

we will use following approaches
*  User_based Collaborative Filtering and 
*  Item_based Collaborative Filtering

* Content Based Filtering


*  Model based Collaborative Filtering Approach
  * Singular value decomposition(SVD)
  * Non-Negetive Matrix Factorisation(NMF)

### **User Based Collaborative Filtering**

*  In this technique we try to predict on basis of what user may like based on the ratings that they had given to the items. In simpe words here we try to indentify the neghbouring users on the basis of similarity of active users and then scoring of the items  is calculated on the basis of those neighbour users

In [ ]:
# Drop users who have given less number of votings 
# we will drop the users where the number of votes are less than 100
new_df=df_books_rating_copy[df_books_rating_copy['User-ID'].map(df_books_rating_copy['User-ID'].value_counts()) > 100] 

# creating a pivot tables consisting user realted information
users_info=new_df.pivot_table(index=["User-ID"],columns=["Book-Title"],values="Book-Rating")
users_info.fillna(0,inplace=True)

In [ ]:
users_info.head(3)

In [ ]:
def choice_of_users(id):
    
    user_favourite=new_df[new_df["User-ID"]==id].sort_values(["Book-Rating"],ascending=False)[0:10]
    return user_favourite

def user_based_collaborative(new_df,user_id):
    if user_id not in new_df["User-ID"].values:
        print("USER NOT FOUND")
        
        
    else:
        user_index=np.where(users_info.index==user_id)[0][0]
        similar=cosine_similarity(users_info)
        similar_users_list=list(enumerate(similar[user_index]))
        similar_users_list = sorted(similar_users_list,key = lambda x:x[1],reverse=True)[0:10]
    
        record_of_users=[]
    
        for ind in similar_users_list:
                data=df_books_rating_copy[df_books_rating_copy["User-ID"]==users_info.index[ind[0]]]
                record_of_users.extend(list(data.drop_duplicates("User-ID")["User-ID"].values))
        
    return record_of_users

def common(df,users_list,user_id):
    temp1=new_df[df["User-ID"]==user_id]
    suggested_books=[]
    users_list=list(users_list)
    for id in users_list:
        temp2=df[(df["User-ID"]==id)]
        all_books=temp2.loc[~temp2["Book-Title"].isin(temp1["Book-Title"]),:]
        all_books=all_books.sort_values(["Book-Rating"],ascending=False)[0:10]
        suggested_books.extend(all_books["Book-Title"].values)
        
    return suggested_books[0:10]

In [ ]:
# taking any random user_id
random_user_id=random.choice(new_df["User-ID"].values)
# showing users choice based on history
user_choice=pd.DataFrame(choice_of_users(random_user_id))
# subseting users favourite from users choice
user_favorite=choice_of_users(random_user_id)
n=len(user_choice["Book-Title"].values)
print(f"USER: {random_user_id} ")

In [ ]:
user_favorite

In [ ]:
# getting user based data for particular random user id
user_based=user_based_collaborative(new_df,random_user_id)
# getting recomended books for that particular random user id
book_suggesions_user=common(new_df,user_based,random_user_id)
# ceating a dataframe to store the results
book_suggesions_user=pd.DataFrame(book_suggesions_user,columns=["Book-Title"])
book_suggesions_user

### **Item Based Collaborative Filtering**

*  In Item based collaborative filtering we try to find similar items based on the items whichs user has liked or interacted with .It suggests an item based on items the user has previously consumed. It looks for the items the user has consumed then it finds other items similar to consumed items and recommends accordingly

In [ ]:
def item_based_approach(data,querry_bookTitle,number_of_suggesions):
    querry_bookTitle=str(querry_bookTitle)
    
    if querry_bookTitle in data["Book-Title"].values:
        count_rating=pd.DataFrame(data["Book-Title"].value_counts())
        # seperating rare books
        rare=count_rating[count_rating["Book-Title"]<=100].index
        # defining common books 
        # as those books which are not rare are common books
        common_b=data[~data["Book-Title"].isin(rare)]
        
        # If the qerry book title is very rare then we would suggest the most common books
        if querry_bookTitle in rare:
            # storing most common books 
            ran5=pd.Series(common_b["Book-Title"].unique()).sample(5).values
            print("No hard recomendation for this book can be suggested")
            print("but you can try with most common books ")
            # suggesting randomly 5 books from set of common books
            print(f"1st {ran5[0]}")
            print(f"2nd {ran5[1]}")
            print(f"3rd {ran5[2]}")
            print(f"4th {ran5[3]}")
            print(f"5th {ran5[4]}")
        else:
            common_b_pivot=common_b.pivot_table(index=["User-ID"],columns=["Book-Title"],values="Book-Rating")
            # defining book-title as t
            t=common_b_pivot[querry_bookTitle]
            # making suggesions based on the correlation
            suggesion_df=pd.DataFrame(common_b_pivot.corrwith(t).sort_values(ascending=False)).reset_index(drop=False)
            
            if querry_bookTitle in [ele for ele in suggesion_df["Book-Title"]]:
                suggesion_df=suggesion_df.drop(suggesion_df[suggesion_df["Book-Title"]==querry_bookTitle].index[0])
                
            less_rating=[]
            for ele in suggesion_df["Book-Title"]:
                if data[data["Book-Title"]==ele]["Book-Rating"].mean() < 5:
                    less_rating.append(ele)
            if suggesion_df.shape[0] - len(less_rating) > 5:
                suggesion_df=suggesion_df[~suggesion_df["Book-Title"].isin(less_rating)]
                
            suggesion_df=suggesion_df[0:number_of_suggesions]
            suggesion_df.columns=["Book-Title","Correlation"]

            return suggesion_df
            
    else:
        print("No Results Found  !!!")

In [ ]:
# getting top 10 suggesions from item-based approach
item_based_approach(df_books_rating_copy,"The Da Vinci Code",10)

In [ ]:
# when the book title is not present
item_based_approach(df_books_rating_copy,"machine learning",10)

## **Content based**

In Content based Filtering approach we recomend item to the users based on the content we have about the history of users. We recomend similar books  based what other books that particular user has read.In simple words based on what we like ,the algorithm will simply pick the items with similar content to recomend us.


![content.png]()

source:[click here](https://miro.medium.com/max/720/1*BME1JjIlBEAI9BV5pOO5Mg.webp)

In [ ]:
def content_based_approach(data,querry_bookTitle,number_of_books):
    querry_bookTitle=str(querry_bookTitle)
    
    if querry_bookTitle in data["Book-Title"].values:
        count_rating=pd.DataFrame(data["Book-Title"].value_counts())
        # seperating rare books
        rare=count_rating[count_rating["Book-Title"]<=100].index
        # defining common books 
        # as those books which are not rare are common books
        common_b=data[~data["Book-Title"].isin(rare)]
        
        # If the qerry book title is very rare then we would suggest the most common books
        if querry_bookTitle in rare:
            # storing most common books 
            ran5=pd.Series(common_b["Book-Title"].unique()).sample(5).values
            print("No hard recomendation for this book can be suggested")
            print("but you can try with most common books ")
            # suggesting randomly 5 books from set of common books
            print(f"1st {ran5[0]}")
            print(f"2nd {ran5[1]}")
            print(f"3rd {ran5[2]}")
            print(f"4th {ran5[3]}")
            print(f"5th {ran5[4]}")
        else:
            #first we drop the dulplicates Book Title
            common_b=common_b.drop_duplicates(subset=["Book-Title"])
            common_b.reset_index(inplace=True)
            # setting the index to length of unique common books
            common_b["index"]=[ele for ele in range(common_b.shape[0])]
            # taking content based book-title , book-Author and publisher
            list_of_targets=["Book-Title","Book-Author","Publisher"]
            common_b["all_features"] = [" ".join(common_b[list_of_targets].iloc[ele,].values) for ele in range(common_b[list_of_targets].shape[0])]
            # transfforming into vectorized form
            vectorizer=CountVectorizer()
            common_booksVector=vectorizer.fit_transform(common_b["all_features"])
            # finding similarity based on book-title , book-Author and publisher
            similar=cosine_similarity(common_booksVector)
            index=common_b[common_b["Book-Title"]==querry_bookTitle]["index"].values[0]
            similar_books_list=list(enumerate(similar[index]))
            similar_books_sorted=sorted(similar_books_list,key=lambda ele:ele[1],reverse=True)[1:number_of_books+1]
            suggested_books=[]
            for ele in range(len(similar_books_sorted)):
                
                suggested_books.append(common_b[common_b["index"]==similar_books_sorted[ele][0]]["Book-Title"].item())
            return suggested_books
    else:
        print(" COULD NOT FIND THE CONTENT")

In [ ]:
content_based_approach(df_books_rating_copy,'The Da Vinci Code',10)